.leftDefault {
  @apply drop-shadow-lg relative left-36 top-5 rounded-lg opacity-40 max-w-md outline cursor-pointer hover:scale-110 duration-300;
}

.leftClickRight {
  @apply drop-shadow-lg relative left-36 top-5 rounded-lg opacity-40 max-w-md outline cursor-pointer hover:scale-110 duration-300;
  animation-name: leftClickRightAni;
  animation-duration: 2s;
}

@keyframes leftClickRightAni {
  0%   {transform: scale(1.65) translateX(273px) translateY(-12px); pointer-events: none;}
  100% {pointer-events: none;}
}

.leftClickLeft {
  @apply drop-shadow-lg relative left-36 top-5 rounded-lg opacity-40 max-w-md outline cursor-pointer hover:scale-110 duration-300;
  animation-name: leftClickLeftAni;
  animation-duration: 2s;
}

@keyframes leftClickLeftAni {
  0%   {transform: translateX(900px); pointer-events: none;}
  100% {pointer-events: none;}
}

.centerDefault {
  @apply drop-shadow-lg relative rounded-lg max-w-3xl z-10 outline;
}

.centerClickLeft {
  @apply drop-shadow-lg relative rounded-lg max-w-3xl z-10 outline;
  animation-name: centerClickLeftAni;
  animation-duration: 2s;
}

.centerClickRight {
  @apply drop-shadow-lg relative rounded-lg max-w-3xl z-10 outline;
  animation-name: centerClickRightAni;
  animation-duration: 2s;
}

@keyframes centerClickLeftAni {
  0%   {transform: scale(0.62) translateX(-737px) translateY(30px)}
  100% {}
}

@keyframes centerClickRightAni {
  0%   {transform: scale(0.62) translateX(717px) translateY(30px)}
  100% {}
}

.rightDefault {
  @apply drop-shadow-lg relative right-36 top-5 rounded-lg opacity-40 max-w-md outline cursor-pointer hover:scale-110 duration-300;
}

.rightClickLeft {
  @apply drop-shadow-lg relative right-36 top-5 rounded-lg opacity-40 max-w-md outline cursor-pointer hover:scale-110 duration-300;
  animation-name: rightClickLeftAni;
  animation-duration: 2s;
}

@keyframes rightClickLeftAni {
  0%   {transform: scale(1.65) translateX(-273px) translateY(-12px); pointer-events: none;}
  100% {pointer-events: none;}
}

.rightClickRight {
  @apply drop-shadow-lg relative right-36 top-5 rounded-lg opacity-40 max-w-md outline cursor-pointer hover:scale-110 duration-300;
  animation-name: rightClickRightAni;
  animation-duration: 2s;
}

@keyframes rightClickRightAni {
  0%   {transform: translateX(-900px); pointer-events: none;}
  100% {pointer-events: none;}
}

.contentCard {
  animation-name: contentCard;
  animation-duration: 1s;
}

@keyframes contentCard {
  0%   {transform: scale(0)}
  100% {}
}